@font-face {
  font-family: 'GillSans-Light';
  src: url('./font/GillSans-Light.ttf') format('truetype');
}

* {
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family: "GillSans-Light", "Verdana";
}

h1, h3, h4, h5, h6, p, div, li, ul {
  font-family: "GillSans-Light", "Verdana";
}

.comButton{
  background: url('/img/commsIcon.png') no-repeat;
  background-size:80px 80px;
}

.eventsButton{
  background: url('/img/events.png') no-repeat;
  background-size:80px 80px;
}

.mapButton{
  background: url('/img/mapIcon.png') no-repeat;
  background-size:80px 80px;
}

.sessionButton{
  background: url('/img/sessionsUnsel.png') no-repeat;
  background-size:80px 80px;
}

.restartButton{
  background: url('/img/restart.png') no-repeat;
  background-size:80px 80px;
}



.imgButton {
  display:inline-block;
  width:80px;
  height:80px;
  margin: 2px 2px 2px 2px;
}

.size_button {
  display:inline-block;
  width:80px;
  height:80px;
  border-radius:75px;
  margin: 2px 2px 2px 2px;
  border: 0px none #fff;
}

.size_button:active {
  /*background:#8fdbda*/
}

.legend {
    position: absolute;
    top: 110px;
    font-family: GillSans-Light, sans-serif;
    font-size:18px;
}

.typesClass{
  list-style: none; 
  margin-bottom: 10px; 
  padding: 5px; 
  border-radius: 5px; 
  color: #eee; 
  text-align:center;  
  width:150px;
}


/*
#detail_base {
  position: absolute; 
   left: 50%;  
   top: 20%;  
  z-index: 99999;
  display: none;
}
*/

#detail_background {
  width: 1200px; 
  height: 550px; 
  background-color: #fff; 
  border: 1px solid #8fbbda; 
  padding: 20px; 
  position: absolute; 
  display: none;
  z-index: 9999;
 /* position: relative;  */
  /* left: -50%; */
}

#detail_left_view {
  float: left;
  display:inline-block;
  width: 510px; 
  height: 450px; 
}

#detail_right_view {
  float: right;
  display:inline-block;
  width: 650px; 
  height: 450px; 
}

#detail_image {
  width: 500px; 
  height: 375px; 
  background-color: #f6f6f6; 
  border: 1px solid #eee; 
  float: left;
  
}

#detail_title {
  float: left; 
  width: 550px; 
  font-weight: bold;
  font-size: 24px;
  margin-top: 30px;
}

/*#detail_time {
  float: left; 
  width: 450px; 
  font-weight: bold; 
  font-family: arial; 
  margin-top: 30px;
}*/

/*#detail_thirty_words {
  float: left; 
  width: 450px; 
  margin-top: 20px; 
  font-family: arial;
}*/

.detail_small {
  float: left; 
  width: 500px; 
  margin-top: 20px; 
  font-family: GillSans-Light;
  font-size: 18px;
  margin-left: 15px;
}

.detail_award_box {
  float: left; 
  width: 200px; 
  margin-top: 40px; 
  font-family: GillSans-Light;
  margin-left: 120px;
}

#detail_award {
  float: none;
  width: 150px; 
  margin-top: 20px; 
  font-family: GillSans-Light;
  font-size: 20px;
  margin-left: 30px;
}

#detail_award_image {
  float: left;
  width: 40px;
  height: 40px;
}

#detail_close_button {
  float: right;
  width: 75px;
  height: 75px;
  background-color: #555;
  color: #fff;
  text-align: center;
  background: url('/img/close.png') no-repeat;
  background-size:75px 75px;
}


.filter_item {
  height: auto;
  padding-bottom: 7px;
  line-height: 23px;
  width: 220px; 
  margin-top: 10px; 
  list-style: none; 
  background-color: #61BBDE;  
  position: absolute; 
  z-index: 100; 
  border-radius: 10px;
}


.remove_filter {
  float: left;
  background: url('/img/closeHistory.png') no-repeat;
  background-size:25px 25px; 
  border: 0px none #fff;
  height: 30px;
  width: 25px;
  padding-top: 0px;
  margin-left: 8px;
  margin-top: 12px;
}

.remove_filter:active {
  background: url('/img/closeHistoryHover.png') no-repeat;
  background-size:25px 25px; 
  border: 0px none #fff;
}

.filter_name {
  font-family: "GillSans-Light", "Verdana";
  color: #fff;
  font-size: 20px;
  margin-top: 11px;
  display: block;
  float: left;
  width: 138px;
  height: 100%;
  padding-left: 10px;
  padding-top: 7px
}

#filter_list {
 /*  pointer-events:none; */
 position: absolute; 
 top: 120px; 
 right: 30px; 
 list-style: none; 
 padding: 0px; 
 margin: 0px; 
 height: auto; 
 width: 220px; 
 z-index:100000 
}



/*************************** PIE MENU CSS ***********************/

    article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
      display:block
    }
    audio,canvas,video{
      display:inline-block;
      *display:inline;
      *zoom:1
    }
    audio:not([controls]){
      
    }
    html{
      overflow:hidden;
      font-size:100%;
      -webkit-text-size-adjust:100%;
      -ms-text-size-adjust:100%
    }
    a:focus{
      outline:thin dotted #333;
      outline:5px auto -webkit-focus-ring-color;
      outline-offset:-2px
    }
    a:hover,a:active{
      outline:0
    }
    sub,sup{
      position:relative;
      font-size:75%;
      line-height:0;
      vertical-align:baseline
    }
    sup{
      top:-.5em
    }
    sub{
      bottom:-.25em
    }
    img{
      max-width:100%;
      vertical-align:middle;
      border:0;
      -ms-interpolation-mode:bicubic
    }
    button,input,select,textarea{
      margin:0;
      font-size:100%;
      vertical-align:middle
    }
    button,input{
      *overflow:visible;
      line-height:normal
    }
    button::-moz-focus-inner,input::-moz-focus-inner{
      padding:0;
      border:0
      }
    button,input[type="button"],input[type="reset"],input[type="submit"]{
      cursor:pointer;
      -webkit-appearance:button
      }
    input[type="search"]{
      -webkit-box-sizing:content-box;
      -moz-box-sizing:content-box;
      box-sizing:content-box;
      -webkit-appearance:textfield
      }
    input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
      -webkit-appearance:none
      }
    textarea{
      overflow:auto;
      vertical-align:top
      }
    .clearfix{
      *zoom:1
      }
    .clearfix:before,.clearfix:after{
      display:table;
      content:""
    }
    .clearfix:after{
      clear:both
    }
    .hide-text{
      font:0/0 a;
      color:transparent;
      text-shadow:none;
      background-color:transparent;
      border:0
      }
    .input-block-level{    
      display:block;
      width:100%;
      min-height:28px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      box-sizing:border-box
    }
    .menu_button{
      position:absolute;
      bottom:0;
      left:0;
      
      height:36px;
      
      width:36px;
      text-indent:-99999px;
      overflow:hidden;

      background-repeat:repeat-x;
      z-index:9999;
      outline:0
    }
    .menu_button span{
      display:block;
      height:36px;
      width:36px;
      -webkit-transition:.4s ease;
      -moz-transition:.4s ease;
      -ms-transition:.4s ease;
      -o-transition:.4s ease;
      transition:.4s ease
    }
    .menu_option{
      bottom:18px;
      left:5px;
      position:absolute
    }
    .menu_option li{
      position:absolute;
      display:block;
      top:0;
      left:0;
      -webkit-transition:.3s;
      -moz-transition:.3s;
      -ms-transition:.3s;
      -o-transition:.3s;
      transition:.3s
    }
    .menu_option li a{
      position:relative;
      display:block;
      border-radius:50%;
      width:100px;
      height:100px;
      
      
      
      overflow:hidden;
      background:#444
    }
    .menu_option li a span{
      background-attachment:scroll;
      background-clip:border-box;
      background-color:transparent;
      background-origin:padding-box;
      background-position:center center;
      background-repeat:no-repeat;
      background-size:16px 16px;
      display:block;
      width:26px;
      height:26px;
      -webkit-transition:.4s ease;
      -moz-transition:.4s ease;
      -ms-transition:.4s ease;
      -o-transition:.4s ease;
      transition:.4s ease
    }
    .btn-rotate span{
      -webkit-transform:rotate(-135deg);
      -moz-transform:rotate(-135deg);
      -ms-transform:rotate(-135deg);
      -o-transform:rotate(-135deg);
      transform:rotate(-135deg)
    }
    .active .menu_option li a{
      -webkit-animation:expand .6s ease 1 backwards;
      -moz-animation:expand .6s ease 1 backwards;
      -ms-animation:expand .6s ease 1 backwards;
      -o-animation:expand .6s ease 1 backwards;
      animation:expand .6s ease 1 backwards
    }
    @-webkit-keyframes expand{
      0%{ top:0}
      50%{top:-10px}
      70%{top:10px}
      100%{top:0}
    }
    @-moz-keyframes expand{
      0%{ top:0}
      50%{top:-10px}
      70%{top:10px}
      100%{top:0}
    }


/***************** END OF PIE MENU CSS *********************/
    
    
    #event_list {
      background-color: rgba(255, 255, 255, 0.7);
      list-style: none;
      position: absolute;
      width: 280px;
      padding: 0px;
      border: 1px solid #68afd4;
    }
    #event_list li.no_events {
      height: 50px;
    }
    
    #event_list li {
      height: 30px;
      text-align: left;
      float: left;
      width: 280px;
      border-bottom: 1px solid #ddd;
      padding: 0px;
      padding-top: 18px;
      font-size: 20px;
    }

    .event_list_end {
      text-align: center;
    } 

    #event_list li img {
      height: 30px;
      width: 30px;
      float: left;
      margin-top: -10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    #event_list li:last-child {
      border-bottom: 0px none #fff;
    /*   line-height: 0px; why? */ 
    }
    
    #outer_container {
      display: none;
      position: absolute;
    }
    
    #event_list {
      display: none;
    }


    .flipper.top_flipper {
      -webkit-transform: rotate(180deg);
      top: 10px;
      right: 10px;
    }
    .bottom_flipper {
      bottom: 10px;
      left: 10px;
    }

    .flipper {
      position: absolute;
      font-size: 30px;
      background-color: #004A57;
      border-radius: 10px;
      width: 100px;
      height: 30px;
      color: white;
      text-align: center;
      padding: 4px;
      padding-top: 10px;
      z-index: 20;
    }



    .simple-video-wrapper {
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  height: 380px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  width: 501px;
  
}

.simple-video-overlay {
  background: rgba(0,0,0,0.4) url(/img/button.png) 50% 50% no-repeat;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
#tab_menu {
  width: 100%; 
  text-align: center; 
  height: 90px; 
  position: absolute; 
  top: 0px; 
  left: 0px;
}

#tab_menu > div{
  background-color: #fefefe;
  height: 97px; 
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #68afd4;
  border-left: 1px solid #aae4d6; 
}
#tab_menu > div:hover {
  cursor: pointer;
  background-color: #fafafa;
}
#tab_menu div.active {
  background-color: #fff;
  border-bottom: 0px none #fff;
  border-left: 1px solid #68afd4;
  border-right: 1px solid #68afd4;
  box-shadow: -1px -1px 1px #aae4d6;  
}

#tab_menu div.active:last-child {
  border-right: 0px none #fff;
}
#tab_menu div.active:first-child {
  border-left: 0px none #fff;
}


