.size_button {
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:75px;
	font-size:20px;
	font-family: "Kefa", "Verdana";
	color:#bbb;
	line-height:100px;
	text-align:center;
	text-decoration:none;
	background:#000;
	margin: 2px 2px 2px 2px;
}

.size_button:hover {
	color:#ccc;
	text-decoration:none;
	background:#333
}

.legend {
  	position: absolute;
  	top: 110px;
  	font-family: arial, sans-serif;
  	font-size:18px;
}

.typesClass{
	list-style: none; 
	margin-bottom: 10px; 
	padding: 5px; 
	border-radius: 5px; 
	color: #eee; 
	text-align:center;  
	width:150px;
}



#detail_base {
  position: absolute; 
  left: 50%; 
  top: 20%; 
  z-index: 100;
  display: none;
}

#detail_background {
  width: 800px; 
  height: 400px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 20px; 
  position: relative; 
  left: -50%;
}

#detail_image {
  width: 300px; 
  height: 200px; 
  background-color: #f6f6f6; 
  border: 1px solid #eee; 
  float: left;
}

#detail_title {
  float: right; 
  width: 450px; 
  font-weight: bold;
}

#detail_time {
  float: right; 
  width: 450px; 
  font-weight: bold; 
  font-family: arial; 
  margin-top: 30px;
}

#detail_thirty_words {
  float: left; 
  width: 750px; 
  margin-top: 20px; 
  font-family: arial;
}

#detail_authors {
  float: left; 
  width: 750px; 
  margin-top: 20px; 
  font-family: arial;
}

#detail_keywords {
  float: left; 
  width: 750px; 
  margin-top: 20px; 
  font-family: arial;
}