<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0//EN">
<html>
	<head>

    <script type="text/javascript" src="js/lib/d3.v3.min.js" ></script>
	<script type="text/javascript" src="js/lib/jquery-1.7.2.min.js" ></script>
    <script type="text/javascript" src="js/lib/lodash.js" ></script>
    <script type="text/javascript" src="js/lib/socket.io.js" ></script>    
	<script type="text/javascript" src="js/lib/Tuio.js"></script>
    <script type="text/javascript" src="js/lib/numeric-1.2.6.js"></script>
    <script type="text/javascript" src="js/lib/venn.js"></script>
    <script type="text/javascript" src="js/globals.js"></script>
	<script type="text/javascript" src="js/tuiohandler.js"></script>
        <script type="text/javascript" src="js/lib/jquery.menu.js"></script>
    <script type="text/javascript" src="js/clickhandler.js"></script>
    <script type="text/javascript" src="js/view.js"></script>
    <script type="text/javascript" src="js/circlehandler.js"></script>
    <script type="text/javascript" src="js/communities.js"></script>


    <script type="text/javascript" src="js/script.js"></script>

	
    <link href="css/chi.css" type="text/css" rel="stylesheet" />


    <!-- Templates!! -->
    <script type="text/template" id="template_legend_item">
      <li class="typesClass" style="background-color: <%= color %>;"><%= name %></li>
    </script>
    
    <script type="text/template" id="template_legend_item">
      <h1 class="sessionTitle" style="display:inline-block; position:relative; top:400px; left:400px"><%= title %></h1>
    </script>
    
    <script type="text/template" id="template_filter_item">
      <li class="new_filter filter_item" id="<%= id %>">
        <div class="remove_filter">x</div>
        <div class="filter_name">
          <span><%= name %></span>
        </div>
      </li>
    </script>
    
    <script type="text/template" id="template_pie_menu_item">
      <li><a class="pie_menu_link pie_menu_<%= type %>" data-mode="<%= type %>" href="#"><img src="<%= image %>" /></a></li>
    </script>
    <!-- end of templates -->
    
    
  
    
    </head>
	<body>
		<div id='outer_container' class="outer_container" >
			<a class="menu_button" href="#" title="Toggle"><span>Menu Toggle</span></a>
			<ul class="menu_option">
			</ul>
		</div>				
    
        <div id="detail_base">
            <div id="detail_background"> 
                <div id="detail_close_button">close</div>           
                <video id="detail_image" width="320" height="240" controls>
                  <source src="videos/chi0981-file5.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div id="detail_title"></div>
                <div id="detail_time"></div>            
                <div id="detail_thirty_words"></div>
                
                <div id="detail_authors"></div>
                <div id="detail_keywords"></div>
            </div>
        </div>
    
        <ul id="filter_list" style="position: absolute; top: 30px; right: 30px; list-style: none; padding: 0px; margin: 0px; height: 1000px; width: 200px;  "></ul>
    
    <div style="position: fixed; top: 0px; /* display: none; */" id="mainMenu">  <!-- TODO -->
		<button class="size_button" data-grouping="comm">Comm</button>
	    <button class="size_button" data-grouping="events">Events</button>
	    <button class="size_button" data-grouping="map">Map</button>
	   	<button class="size_button" data-grouping="sessions">Sessions</button>
        <button class="size_button" data-grouping="restart">Restart</button>


   <!--      <img class="imgButton" data-grouping="comm" src="img/commsIcon.png"/></img>
        <img class="imgButton" data-grouping="map" src="img/mapIcon.png"/></img>
        <img class="imgButton" data-grouping="sessions" src="img/sessionsIcon.png"/></img>
        <img class="imgButton" data-grouping="talk" src="img/talkIcon.png"/></img>
        <img class="imgButton" data-grouping="restart" src="img/restart.png"/></img> -->
    </div>
    <div class="legend">Types of Talks:
    	<ul class="types">
    	</ul>
    </div>
    	<svg> 
	        <image id="bgimg" xlink:href="" x="0" y="0"/>
	        <!-- <image src="img/schedule.svg" /> -->
   <!--    
		  <g id="our_id"></g>
		  <g id="our_id2"></g>
    --> 
		</svg>
	</body>
</html>
